.header{
  display: flex;
  margin-bottom: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  justify-content: space-between;
}

.buttons{
  color: white;
  background-color: forestgreen;
  font-size: 20px;
  border-radius: 1px;
}

.make-user-button {
  width: 100%;
}

.input{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
}
